* {
	margin: 0;
	padding: 0%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #fff;
}

:root {
  --black: #000000;
  --white-gray: #f6f6f6; 
  --green: #a8ff05;
  --purple: #5700fa;
  --red: #EB5353;
  --orange: #ff5eb4;
	--pink: #ffd8ed;
}

html,body {
	overflow-x: hidden;
	background: #171822;
	cursor: none;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.wrapper .container {
	width: 96%;
	margin: 0px auto;
}

.divider {
	width: 100%;
	height: 2px;
	background: #fff;
}

.whitespace {
	width: 100%;
	height: 80px;
}



.navbar .navbar-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 30px 0;
	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar .navbar-container .site-title {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.site-title {
	text-decoration: none;
	font-weight: 800;
	font-size: 15px;
}

.navbar .navbar-container .site-type {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.navbar .navbar-container .site-year {
	-webkit-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	text-align: right;
}




.section-header .section-header-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}



.about {
	width: 100%;
}

.about::after {
	content: "";
	display: table;
	clear: both;
}

.about {
	width: 100%;
}

.about-me-description-title {
	padding-top: 150px;
	padding-bottom: 150px;
	font-size: 50px;
	transition: all 0.7s;
}

.about-me-description-title:hover {
	color: #a8ff05;
	transition: all 0.7s;
	transform: skew(-15deg);
}



.about-container {
	display: flex;
	justify-content: center;
}

.about-intro {
	font-size: 120px;
}

.about-intro-about-me {
	width: 90vw;
	font-size: 35px;
}



.about .about-container  {
	margin: 40px 0;
	font-size: 36px;
}

@media (max-width: 900px) {
	.about .about-container {

		width: 100%;
	}
	.about .about-container  {
		font-size: 24px;
	}
	.about-intro {
		font-size:55px;

	}

	.about-intro-about-me {
		font-size: 20px;
	}
}



.section-title {
	font-size: 12px;
}

.menu__item {
	position: relative;
	padding: 1.6vw 0 0 0;
	margin: 4px;
}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	color:var(--pink);
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
}

.menu__item-link::before {
	all: initial;
	text-transform: uppercase;
	counter-increment: menu;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	opacity: 0;
}

.menu__item-img {
	pointer-events: none;
	position: absolute;
	height: 60vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 20%;
	-webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
		translate3d(0, 20px, 0);
	transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	-webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
		rotate3d(0, 0, 1, 4deg);
	transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.menu {
	padding: 0vh 0 0 0vh;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	font-size: 8vw;
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #fff;
	pointer-events: none;
	mix-blend-mode: difference;
}

.marquee__inner {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-animation: marquee 5s linear infinite;
	animation: marquee 5s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
	opacity: 0;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
	padding: 2vw 0;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 1;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 8vw;
	padding: 1.6vw 1vw;
	font-weight: 900;
}

.marquee span {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
}

@-webkit-keyframes marquee {
	0% {
		-webkit-transform: translate3d(var(--move-initial), 0, 0);
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		-webkit-transform: translate3d(var(--move-final), 0, 0);
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@keyframes marquee {
	0% {
		-webkit-transform: translate3d(var(--move-initial), 0, 0);
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		-webkit-transform: translate3d(var(--move-final), 0, 0);
		transform: translate3d(var(--move-final), 0, 0);
	}
}



.clients .clients-container p {

	font-size: 80px;
	line-height: 100px;
}

.clients-info {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding-top: 65px;
}

@media (max-width: 900px) {
	.clients .clients-container p {
		font-size: 36px;
		line-height: 50px;
		text-align: justify;
	}
}

.nav-logo {
	width: 70px;
}




.socials {
	padding: 20px 0;
}

.socials .socials-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.socials .socials-container a {
	cursor: pointer;
	text-decoration: none;
	font-size: 42px;
}

.socials-id {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 900px) {
	.socials .socials-container a {
		font-size: 20px;
	}
}

.site-title-footer {
	font-weight: 300;
}

@media (max-width: 900px) {
	.site-title-footer {
		font-size: 12px;
	}
}



header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__button {
  z-index: 2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--pink);
  border: 0;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -25px;
  margin: 20px;
  outline: none;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

.header__button[data-open="true"] {
  background-color: #000;
  animation-name: scale;
}

.header__button[data-open="false"] {
  transition: background-color 250ms linear;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(100%);
  }
}
.header__nav {
  background-color: var(--pink);
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
}

.header__nav[data-active="true"] {
  visibility: visible;
}

.header__menu {
  padding: 0;
  margin: 0;
}

.header__menu > .header__menu-item {
  font-size: 12vh;
}

.header__menu > .header__menu-item:not(:last-of-type) {
  margin-bottom: 0em;
}

.header__menu-item a {
  letter-spacing: -4px;
  font-weight: 300 !important;
  color: #000;
  text-decoration: none;
}


.cursor {
	width: 40px;
	height: 40px;
	border: 1px solid var(--white-gray);
	border-radius: 50%;
	position: absolute;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	animation: cursorAnim .5s infinite alternate;
	pointer-events: none;
}


@keyframes cursorAnim {
	from {
			transform: scale(1);
	}
	to {
			transform: scale(.7);
	}
}

@keyframes cursorAnim2 {
	from {
			transform: scale(1);
	}
	to {
			transform: scale(.4);
	}
}

@keyframes cursorAnim3 {
	0% {
			transform: scale(1);
	}
	50% {
			transform: scale(3);
	}
	100% {
			transform: scale(1);
			opacity: 0;
	}
}

.expand {
	animation: cursorAnim3 .5s forwards;
	border: 1px solid var(--white-gray);
}