* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Gangtypelab";
  src: url(/fonts/Gangtypelab/Gangtypelab.otf);
}

@font-face {
  font-family: "Neue-Machina-Bold";
  src: url(/fonts/NeueMachina/NeueMachina-Bold.otf);
}
@font-face {
  font-family: "Neue-Machina-Medium";
  src: url(/fonts/NeueMachina/NeueMachina-Medium.otf);
}
@font-face {
  font-family: "Neue-Machina-Light";
  src: url(/fonts/NeueMachina/NeueMachina-Light.otf);
}

:root {
  --black: #000000;
  --white-gray: #f6f6f6; 
  --green: #a8ff05;
  --purple: #5700fa;
  --red: #EB5353;
  --orange: #ff5500;
}

html {
  cursor: none;
  background-color: var(--black);
  
}

.nav-box {
  
  width: 100vw;
  height: 10vh;
  border-bottom: solid 0.7px var(--white-gray);
  background-color: var(--black);
}

.left-column {
  width: 94vw;
  height: 100vh;
  border-right:solid 0.7px var(--white-gray); ;
}

.left-text {
  z-index: 0;
  padding: 40px;
  font-size: 105px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
}

.video {
  padding-bottom: 90px;
  height: 100vh;
  align-items: center;
  z-index: -1;
 position: absolute;

}


.cursor {
    width: 40px;
    height: 40px;
    border: 1px solid var(--white-gray);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}


@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid var(--white-gray);
}


